.container {
    background-color: rgb(248, 251, 253);
    padding: 20px;
    min-height: 100vh; /* Viewport height to cover the entire page */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* This will allow the content to take up the remaining space */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}